<ion-view>

  <ion-nav-bar class="bar-positive">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

        <ion-nav-title>
          <span>Leggere Vivere a Madrid</span>
        </ion-nav-title>

  </ion-nav-bar>

  <ion-content>

    <div ng-repeat="post in posts" class="list card">

      <card-post />

    </div>

    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="1%" icon="ion-loading-c">
    </ion-infinite-scroll>


 </ion-content>
</ion-view>