<ion-view class="forms-view">
  
  <ion-nav-bar class="bar-positive">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

        <ion-nav-title>
          <span>Configurazione</span>
        </ion-nav-title>

  </ion-nav-bar>

  <ion-content>

    <ul class="list" ng-controller="ConfigurationCtrl">
        <li class="item item-toggle">
           Ricevere notificazioni PUSH di Vivere a Madrid
           <label class="toggle toggle-positive">

             <input 
                type="checkbox" 
                ng-model="pushactive"
                ng-change="onclick()">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        
    </ul>

  </ion-content>
</ion-view>


