<ion-view class="bookmarks-view" cache-view="false">

  <ion-nav-bar class="bar-positive">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

        <ion-nav-title>
          <span>Favoriti</span>
        </ion-nav-title>

  </ion-nav-bar>




  <ion-header-bar ng-show="numPosts > 0" class="bar-subheader">
	      <div class="buttons">
	        <button class="button button-icon icon ion-ios-minus-outline"
	          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
	      </div>
	      <h1 class="title">Gestione dei favoriti</h1>
	</ion-header-bar>




  <ion-content>

  <div ng-show="numPosts == 0" class="row bookmarks-container">
      <div class="col col-center">
        <div class="empty-results" style="
    text-align: center;">
          <i class="icon ion-bookmark"></i>
          <h3 class="no-bookmarks">There's nothing here yet. Start exploring!</h3>
        </div>
      </div>
    </div>

<ion-list show-delete="data.showDelete"
          show-reorder="false"
          can-swipe="true"
          ng-show="numPosts > 0">
  
  <ion-item ng-repeat="favorite in favorites"
            class="item-thumbnail-left item-remove-animate" href="#/app/singlepost/{{favorite.id}}">

	<img ng-src="{{favorite.thumbnail}}" />
    <h2>{{favorite.title}}</h2>
	<p ng-bind-html="favorite.excerpt">
    <ion-option-button class="button-positive" ng-click="onItemShared(favorite)">
    	  	Share
    </ion-option-button>
    <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(favorite)">
    </ion-delete-button>

  </ion-item>
</ion-list>

aqui {{favorites.length}}

 </ion-content>
</ion-view>

