<ion-view class="forms-view">

<ion-nav-bar class="bar-positive">

        <ion-nav-back-button>
        </ion-nav-back-button>
      
    
        <ion-nav-title>
          <span>Trasporti Madrid</span>
        </ion-nav-title>

  </ion-nav-bar>

  <ion-content>
  
<ion-scroll class="scrollCanvas" zooming="true" min-zoom="1" direction="xy" locked="false" overflow-scroll="false">
                        <img src="img/planometro.png" style="width: 100%; height: 100%;"/>
</ion-scroll>     
        

  		<div class="list card">

        
  			<div class="item item-body">
    <p>Qui puoi consultare la mappa del metro di madrid in modo offline, così quando sarai a Madrid potrai vederlo anche senza roaming... Fai zoom per vedere le fermate a te più vicine</p>
          
        </div>


  		</div>


  </ion-content>
</ion-view>
