<ion-view class="maps-view">


<ion-nav-bar class="bar-positive">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

        <ion-nav-title>
          <span>Luoghi di interesse</span>
        </ion-nav-title>

  </ion-nav-bar>


  <ion-content>
<div class="row center-map-action">
        <div>
          <div class="list">
            <div class="item item-input-inset">
              <a class="button button-icon icon ion-pinpoint" ng-click="centerOnMe()">     La tua ubicazione</a>
            </div>
          </div>
        </div>
      </div>

    <div id="map" data-tap-disabled="true"></div>

 </ion-content>
</ion-view>