<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    
    <ion-content>
      <ion-list>
        

        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="img/icon.png" spinner-on-load>
            </pre-img>
          </div>
          <h2 class="greeting">Vivere a Madrid</h2>
          <p class="message">La app</p>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.allposts">
          <i class="icon ion-ios-book"></i>
          Vivere a Madrid
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.categories">
          <i class="icon ion-ios-color-filter"></i>
          Categorie
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.favorites">
          <i class="icon ion-bookmark"></i>
          <h2 class="menu-text">Favoriti</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.search">
          <i class="icon ion-search"></i>
          Cerca
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.markers">
          <i class="icon ion-map"></i>
          Luoghi di interesse
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.alltransports">
          <i class="icon ion-android-subway"></i>
          Trasporti Madrid
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.configuration">
          <i class="icon ion-android-settings"></i>
            Configurazione
        </ion-item>
        
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="shareApp()">
          <i class="icon ion-android-share-alt"></i>
          Condividi la app
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="voteApp()">
          <i class="icon ion-star"></i>
          Vota la app
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
