<ion-view class="forms-view">

<ion-nav-bar class="bar-positive">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

        <ion-nav-title>
          <span>Cerca un testo</span>
        </ion-nav-title>

  </ion-nav-bar>

  <ion-content>
    <form role="search" ng-controller="SearchCtrl" name="form">
	    
    <ul class="list">
		  
	      
	      <div class="item item-input-inset">
	        <label class="item-input-wrapper">
	          <input 	type="text" 
	          			placeholder="Inserisci il testo..." 
	          			ng-model="key"
	          			ng-minlength=5
	                    required=>
	          </input>		
	        </label>
	        <small 
	                   ng-show="form.key.$error.minlength">
	                Inserisci almeno 5 caratteri
	        </small>

	        <button class="button button-positive button-small" ng-click="search()">
	          Submit
	        </button>
	      </div>
	  	
    </ul>

    <div ng-repeat="post in posts" class="list card">

      <card-post />

    </div>
	
	<ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="1%" icon="ion-loading-c">
    </ion-infinite-scroll>


	</form>
    

  </ion-content>
</ion-view>