<ion-view>

<ion-nav-bar class="bar-positive">

    <ion-nav-back-button>
  </ion-nav-back-button>

        <ion-nav-title>
          <span>{{post.title}}</span>
        </ion-nav-title>

  </ion-nav-bar>


  <ion-content>
 


<div class="list card">

  <div class="item item-divider">
    <h2>{{post.title}}</h2>
    <p>{{post.date | parseStringToDate | date: 'MMM d, yyyy'}}</p>
  </div>

  <div class="item item-body item-text-wrap">
    <img class="full-image" src="{{post.thumbnail}}">
    <div>
    <div class="contenedorPost" ng-bind-html="post.content"></div>  
    </p>
  </div>
    
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
        
        <a class="tab-item" ng-click="sharePost(post)" href="">
          <i class="icon ion-share"></i>
          Condividere
        </a>

        <a class="tab-item" ng-click="addFavorite(post)" href="">
          <i class="icon ion-bookmark"></i>
          Preferiti
        </a>

  </div>      

   <a ng-show="previous != null" class="item item-icon-left" href="#/app/singlepost/{{previous.id}}">
      <i class="icon ion-arrow-left-c"></i>
      {{previous.title}}
    </a>

  <a ng-show="next != null" href="#/app/singlepost/{{next.id}}" class="item item-icon-left">
    <i class="icon ion-arrow-right-c"></i>
    {{next.title}}
  </a>

    </div>

</div>



  </ion-content>
</ion-view>