<ion-view>

  <ion-nav-bar class="bar-positive">

        <ion-nav-back-button>
        </ion-nav-back-button>
      
    
        <ion-nav-title>
          <span>{{page.title}}</span>
        </ion-nav-title>

  </ion-nav-bar>


  <ion-content>
 


<div class="list card">

  <div class="item item-body item-text-wrap">
    <div>
    <div class="contenedorPage" ng-bind-html="page.content"></div>  
    </p>
  </div>
    
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
        
        <a class="tab-item" ng-click="sharePage(page)" href="">
          <i class="icon ion-share"></i>
          Condividere
        </a>

  </div>      

    </div>

</div>



  </ion-content>
</ion-view>