<div>

  <div class="item">
    <h2>{{post.title}}</h2>
    <p>{{post.date | parseStringToDate | date: 'MMM d, yyyy'}}
</p>
  </div>

  <div class="item item-body">
    <img class="full-image" ng-src="{{post.thumbnail}}">
    <p ng-bind-html="post.excerpt" class="justify">
    </p>

    <p class="center">
      <a href="#/app/singlepost/{{post.id}}" class="button button-positive">
        Leggere ancora
      </a>
    </p>

  </div>

  <div class="item tabs tabs-dark tabs-secondary tabs-icon-left">
    
    <a class="tab-item" ng-click="sharePost(post)">
      <i class="icon ion-share"></i>
      Condividere
    </a>

    <a class="tab-item" ng-click="addFavorite(post)" href="">
      <i class="icon ion-bookmark"></i>
      Preferiti
    </a>

  </div>
</div>