<ion-view>
  

<ion-nav-bar class="bar-positive">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

        <ion-nav-title>
          <span>Transporti Madrid</span>
        </ion-nav-title>

  </ion-nav-bar>


	<ion-content>

	  <ion-list show-delete="false"
	            show-reorder="false"
	            can-swipe="false">
	    <ion-item class="item-thumbnail-left item-remove-animate item-icon-right" href="#/app/metromadrid">
	    		<img src="img/logometro.png">
		      	<h2>Metro di Madrid</h2>
		      	<p>Consulta la mappa della metro di Madrid</p>
		      	<i class="icon ion-arrow-right-c"></i>
	    </ion-item>

	    <ion-item class="item-thumbnail-left item-remove-animate item-icon-right" href="#/app/singlepage/4928">
	    		<img src="img/aeropuerto.png">
		      	<h2>Aeroporto di Madrid Barajas Adolfo Suárez</h2>
		      	<p>Consulta come muoverti dall`aeroporto al centro città</p>
		      	<i class="icon ion-arrow-right-c"></i>
	    </ion-item>

	    <ion-item class="item-thumbnail-left item-remove-animate item-icon-right" href="#/app/singlepage/8932">
	    		<img src="img/cercanias.png">
		      	<h2>Cercanias Madrid</h2>
		      	<p>Consulta come muoverti usando la lìnea ferroviaria</p>
		      	<i class="icon ion-arrow-right-c"></i>
	    </ion-item>

	  </ion-list>

 </ion-content>

</ion-view>
