<ion-view>

<ion-nav-bar class="bar-positive">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

        <ion-nav-title>
          <span>Categorie</span>
        </ion-nav-title>

  </ion-nav-bar>

  <ion-content>


  <ion-list show-delete="false"
            show-reorder="false"
            can-swipe="false">
    
    <ion-item class="item-thumbnail-left item-remove-animate item-icon-right" href="#/app/posts_by_category/422/1">
      <img src="img/bar_restaurant.png">
      <h2>Bar e ristoranti a Madrid</h2>
      <i class="icon ion-arrow-right-c"></i>
    </ion-item>

    <ion-item class="item-thumbnail-left item-remove-animate item-icon-right" href="#/app/posts_by_category/195/1">
      <img src="img/cosa_vedere.png">
      <h2>Cosa vedere a Madrid</h2>
      <i class="icon ion-arrow-right-c"></i>  
    </ion-item>

    <ion-item class="item-thumbnail-left item-remove-animate item-icon-right" href="#/app/posts_by_category/164/1">
      <img src="img/grammatica.png">
      <h2>Grammatica spagnola</h2>
      <i class="icon ion-arrow-right-c"></i>
    </ion-item>

    <ion-item class="item-thumbnail-left item-remove-animate item-icon-right" href="#/app/posts_by_category/186/1">
      <img src="img/flamenco.png">
      <h2>Tradizioni spagnole</h2>
      <i class="icon ion-arrow-right-c"></i>
    </ion-item>

  </ion-list>



 </ion-content>
</ion-view>