<ion-view>

  <ion-nav-bar class="bar-positive">

    <ion-nav-back-button>
  </ion-nav-back-button>

        <ion-nav-title>
          <span>Categorie</span>
        </ion-nav-title>

  </ion-nav-bar>

  <ion-content>

    <div ng-repeat="post in posts" class="list card">

      <card-post />

    </div>

    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="1%" icon="ion-loading-c">
    </ion-infinite-scroll>


 </ion-content>
</ion-view>