/* Empty. Add your own CSS if you like */

.background, 
.background .pane
{
    background-color: #eaeaea;
}

.center {
  text-align:center;
}

.justify {
  text-align:justify;
}

.contenedorPost {
	background-size: 100% auto;
}

.contenedorPost img {
	width: 100%;
}


.contenedorPost a {
   pointer-events: none;
   cursor: default;
}

.contenedorPage {
	background-size: 100% auto;
}

.contenedorPage img {
	width: 100%;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* MAPA MARKERS */
.maps-view .center-map-action
  {
    position: absolute;
    bottom: 30px;
    z-index: 9;
    width: 100%;
    text-align: center;
  }


  .maps-view .center-map-action .item.item-input-inset
    {
      padding: 0px 0px;
    }

    .maps-view .center-map-action .item-input-wrapper
    {
      background: none;
    }
  }

}

/* FAVORITOS */

 .bookmarks-view .empty-results
  {
    text-align: center;
  }
 .bookmarks-view .empty-results .icon
    {
      font-size: 170px;
    }

.bookmarks-view .empty-results .no-bookmarks
    {
      font-size: 22px;
    }
  }


}
